* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  background-color: rgb(08, 0, 55);
  font-family: monospace;
}

a {
  color: white;
}

/* nav */
header {
  height: 5.5em;
  padding-top: 1em;
}

nav {
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 39.45em;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 1.2em;
  border-bottom: 2px solid rgba(255, 0, 255, 0.452);
  border-left: 2px solid rgba(255, 0, 255, 0.452);
  border-right: 2px solid rgba(255, 0, 255, 0.452);
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  height: 8em;
  transition: 0.33s;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(255,42,153,0.7231267507002801) 0%, rgba(86,65,117,0.8015581232492998) 0%, rgba(93,72,122,0) 100%, rgba(255,232,253,1) 100%, rgba(182,127,55,1) 100%, rgba(255,251,98,1) 100%, rgba(0,212,255,1) 100%, rgba(86,65,117,0) 100%);
}

nav:hover {
  background-color: rgba(86, 65, 117, 0.815);
}

header img {
  width: 4em;
  border-radius: 50%;
  border: 2px solid rgba(41, 41, 41, 0.877);
  transition: 0.3s;
}

header img:hover {
  border: 2px solid rgb(255, 179, 245);
}

header .line {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 0.4em;
}

header .line a {
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

header nav .below {
  margin: auto;
  margin-top: -0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#nav-link {
  border: 1px solid rgba(43, 43, 43, 0.493);
  background-color: rgb(86, 65, 117);
  border-radius: 15px;
  transition: 0.5s;
  text-shadow: 1px 1px 1px black;
}

#nav-link:hover {
  border: 1px solid rgb(255, 179, 245);
}

/* section */
.hero {
  z-index: 0;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/751515613712744458/spagos.png");
  background-size: cover;
  background-position: center;
  height: 60em;
  margin: auto;
  margin-top: -5.5em;
  display: flex;
  flex-direction: column;
}

.hero-stuff {
  margin: auto;
  margin-bottom: 26em;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.493);
  animation: hero;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes hero {
  0% {
    margin-bottom: 0em;
    opacity: 0;
  } 100% {
    margin-bottom: 26em;
    opacity: 1;
  }
}

.hero h1 {
  margin: auto;
  color: white;
  font-size: 5em;
}

.hero p {
  text-align: center;
  font-size: 2em;
}

.hero .arrow-wrapper {
  position: absolute;
  width: 5em;
  display: flex;
  left: 50%;
  margin-left: -2.5em;
  top: 33em;
  animation: arrow;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transition: 0.3s;
  opacity: 0;
}

.hero i {
  font-size: 2em;
  margin: auto;
}

@keyframes arrow {
  0% {
    top: 33em;
  } 50% {
    top: 35em;
  } 100% {
    top: 33em;
  }
}

/* design */
.design {
  height: 2em;
  background-color: rgb(65, 49, 88);
  width: 15em;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: auto;
  border-top: 2px solid rgba(255, 0, 255, 0.452);
}

/* first */
.first {
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/752725284909875292/salamanddddd3.png");
  background-position: center;
  background-size: cover;
}

.welcome {
  margin: auto;
  font-size: 1.5em;
  margin-top: 0em;
  width: 31.5em;
  text-align: center;
  border-left: 2px solid rgba(255, 0, 255, 0.452);
  border-right: 2px solid rgba(255, 0, 255, 0.452);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 1px 1px 5px rgba(43, 43, 43, 0.747);
  background-color: rgb(65, 49, 88);
}

.welcome h1 {
  margin: auto;
  margin-top: -1em;
  width: 6.7em;
  height: 2em;
  border-radius: 50px;
  margin-bottom: 1em;
  padding-top: 0.4em;
  box-shadow: 1px 1px 5px rgb(43, 43, 43);
  background-color: rgb(65, 49, 88);
  border-top: 2px solid rgba(255, 0, 255, 0.692);
}

.welcome p {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  height: fit-content;
  width: 25em;
}

.welcome-icons #device {
  font-size: 3em;
  margin: 0em;
  box-shadow: 1px 1px 5px rgba(43, 43, 43, 0.747);
  border-radius: 25px;
}

.welcome-icons i {
  padding: 0.3em;
}


.welcome-icons #checks {
  font-size: 1em;
  position: absolute;
  margin-top: 2.8em;
  margin-left: -1.6em;
  color: rgb(255, 0, 255);
}

.welcome-icons #checks:last-child {
  margin-left: -1.2em;
}

.welcome img {
  margin: auto;
  width: 100%;
  border-radius: 25px;
  opacity: 0.77;
  border: 3px solid rgba(255, 0, 255, 0.295);
  transition: 0.5s;
}

#mobile-image {
  width: 93%;
  display: none;
}

.welcome img:hover {
  cursor: pointer;
  opacity: 1;
  border: 3px solid rgba(255, 0, 255, 0.699);
}

.welcome #clockify {
  font-size: 0.7em;
  margin-top: 0;
  margin-bottom: 2em;
}

.welcome #clockify a {
  color: rgb(252, 64, 252);
  transition: 0.3s;
}

.welcome #clockify a:hover {
  color: rgb(255, 255, 255);
}

.welcome #store {
  font-size: 3em;
  padding: 0.2em;
  box-shadow: 1px 1px 5px rgba(43, 43, 43, 0.747);
  border-radius: 25px;
}

.welcome ul {
  text-align: left;
  width: 60%;
  margin: 1em auto 1em auto;
}

.welcome h2 {
  padding: 0;
  text-shadow: 2px 2px 3px rgba(41, 41, 41, 0.596);
  width: fit-content;
  margin: auto;
  margin-bottom: 0.3em;
}

.skills {
  box-shadow: 1px 1px 5px rgba(43, 43, 43, 0.747);
  width: 90%;
  margin: auto;
  border-radius: 25px;
}


.skill-wrap h4 {
  margin: auto;
  text-align: center;
  padding: 0;
  font-weight: lighter;
}

#helpMe {
  opacity: 0;
  pointer-events: none;
}

.skill-wrap .percent {
  background-color: rgba(32, 9, 70, 0.514);
  border: 2px solid rgba(32, 9, 70, 0.514);
  border-radius: 25px;
  width: 80%;
  margin: auto;
}

.skill-wrap .percentBar {
  background-color: rgba(252, 64, 252, 0.575);
  border-radius: 25px;
  margin: auto;
  margin-left: 0;
  width: 90%;
}
.skill-wrap .percentBarTwo {
  background-color: rgba(252, 64, 252, 0.575);
  border-radius: 25px;
  margin: auto;
  margin-left: 0;
  width: 20%;
}
.skill-wrap .percentBarThree {
  background-color: rgba(252, 64, 252, 0.575);
  border-radius: 25px;
  margin: auto;
  margin-left: 0;
  width: 80%;
}
.skill-wrap .percentBarFour {
  background-color: rgba(252, 64, 252, 0.575);
  border-radius: 25px;
  margin: auto;
  margin-left: 0;
  width: 33%;
}
.skill-wrap .percentBarFive {
  background-color: rgba(252, 64, 252, 0.575);
  border-radius: 25px;
  margin: auto;
  margin-left: 0;
  width: 20%;
}




.clockify-wrapper {
  margin: 1em auto 3em auto;
}

/* projects info */
.projects-info {
  border-top: 2px solid rgba(255, 0, 255, 0.452);
  border-radius: 50px;
  margin: auto;
  margin-top: 7em;
  width: 20em;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(43, 43, 43, 0.747);
  background-color: rgb(65, 49, 88);
  z-index: 1;
}

.projects .projects-description {
  position: absolute;
  margin-top: 3em;
  width: 19em;
  left: 50%;
  margin-left: -9.5em;
  color: rgba(255, 255, 255, 0.671);
}

.check-marks {
  display: flex;
}

.check-marks p {
  padding: 0.77em;
  margin: auto;
}

#official {
  color: rgba(226, 89, 153, 0.842);
  transition: 0.3s;
}

#personal {
  color: rgba(255, 255, 255, 0.849);
  transition: 0.3s;
}

.project-wrap a:hover #official {
  color: rgba(255, 255, 255, 0);
}

.project-wrap a:hover #personal {
  color: rgba(255, 255, 255, 0);
}

.dots {
  margin-top: 1em;
  margin-bottom: 1em;
}

.dots i {
  font-size: 1.5em;
  color: rgba(50, 38, 68, 0.562);
}

/* first projects */
.projects {
  margin: auto;
  margin-top: -2em;
  font-size: 1.2em;
  background-color: rgb(65, 49, 88);
  border-radius: 50px;
  margin-bottom: 6em;
}

.projects-wrapper {
  width: 39.6em;
  margin: auto;
  border-left: 2px solid rgba(255, 0, 255, 0.452);
  border-right: 2px solid rgba(255, 0, 255, 0.452);
  border-radius: 50px;
  padding: 1em;
  padding-top: 5em;
  box-shadow: 1px 1px 5px rgba(43, 43, 43, 0.747);
}

.project-wrap {
  margin: 0em;
  height: 98%;
}

.project-wrap i {
  position: absolute;
  margin-left: 2em;
  margin-top: 2em;
  font-size: 3em;
}

.wrapper-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  padding: 0.5em;
  border-radius: 50px;
  background-color: rgb(61, 46, 82);
}

.projects a {
  width: 20px;
  margin: auto;
}

.project-wrap:hover {
  border: 3px solid rgba(255, 0, 255, 0.493);
  border-radius: 25%;
}

.projects a img {
  width: 100%;
  border-radius: 25%;
  box-shadow: 3px 3px 5px rgba(43, 43, 43, 0.555);
  margin: 0;
}

.projects .dotsTwo {
  width: fit-content;
  margin: auto;
  margin-top: 1em;
}

.projects .dotsTwo i {
  margin: auto;
  font-size: 1.5em;
  color: rgba(50, 38, 68, 0.562);
}

/* contact */

.bottom-design {
  position: absolute;
  height: 5em;
  background-color: rgb(65, 49, 88);
  width: 15em;
  border-radius: 50px;
  border-top: 2px solid rgba(255, 0, 255, 0.452);
  margin-top: -2.5em;
  left: 50%;
  margin-left: -7.5em;
  display: flex;
}

.bottom-design h2 {
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: 2em;
}

.contact {
  height: 60em;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/752343643599405117/spagos2.png");
  background-size: cover;
  display: flex;
}

.contact-content {
  margin: auto;
  display: flex;
}

.contact-content a {
  cursor: pointer;
}

.contact-wrap {
  background-color: rgba(0, 0, 53, 0.384);
  height: 12em;
  width: 12em;
  border-radius: 50%;
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  flex-direction: column;
}

.spinny-boy {
  position: absolute;
  border: 3px outset rgba(252, 64, 252, 0.534);
  height: 12em;
  width: 12em;
  border-radius: 50%;
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  flex-direction: column;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.contact-wrap i {
  margin: auto;
  font-size: 4em;
  transition: 0.33s;
}

.contact-wrap p {
  position: absolute;
  opacity: 0;
  margin-left: 1.5em;
  margin-top: 2.3em;
  transition: 0.33s;
  font-size: 2em;
  transition: 0.33s;
}

.contact-wrap #github {
  margin-left: 1.25em;
}

.contact-content a:hover .contact-wrap i {
  opacity: 0;
}

.contact-content a:hover .contact-wrap p {
  opacity: 1;
}

#githubText, #phoneNumber, #emailText {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}



/* footer */
footer {
  border-top: 7px solid rgb(86, 65, 117);
  display: flex;
  height: 10em;
}

.footer-wrap {
  margin: auto;
  display: flex;
  width: 30%;
}

.footer-info {
  margin: auto;
}

.footer-info li, #freevector {
  margin-top: 0.3em;
  color :grey;
}

#freevector {
  margin: auto;
  text-decoration: underline;
}

#freevector:hover {
  color: pink;
}

/* phone *//* phone *//* phone *//* phone *//* phone *//* phone */
@media (max-width: 655px) {
  .hero {
    height: 50em;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .hero .arrow-wrapper {
    opacity: 1;
  }

  .welcome {
    width: 90%;
  }

  .welcome p {
    width: 90%;
    font-size: 0.7em;
  }

  .welcome-icons #device {
    margin-top: 0em;
    font-size: 2.5em;
  }

  .welcome-icons #checks {
    margin-top: 2em;
    margin-left: -2em;
  }

  .welcome-icons #checks:last-child {
    margin-left: -1.6em;
  }

  /* projects */

  .wrapper-wrapper {
    padding: 1em;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  .projects {
    width: 90%;
  }

  .projects-wrapper {
    width: 100%;
  }

  .project-wrap i {
    position: absolute;
    margin-left: 25%;
    margin-top: 25%;
    font-size: 1.5em;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.452);
  }

  .row {
    display: none;
  }


  #mobile-image {
    display: inline;
  }

  #mobile-image img {
    width: 90%;
  }

  .welcome #clockify {
    font-size: 0.5em;
  }

  .projects-description {
    padding-top: 1.7em;
    font-size: 0.7em;
  }


  /* skills */

  .welcome ul {
    width: 100%;
    font-size: 0.77em;
  }
  
  .welcome .skills {
    width: 90%;
  }

  #percents {
    width: 20%;
    text-align: center;
  }

  #placeholder:last-child {
    display: none;
  }

  /* contact */

  .contact-content {
    flex-direction: column;
  }

  .contact-content a {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  /* footer */
footer {
  display: flex;
  height: 15em;
  text-align: center;
  padding: 1em;
}

.footer-wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-info {
  margin: auto;
}

.footer-info li, #freevector {
  margin-top: 0.3em;
  color :grey;
}

.footer-info p {
}

#freevector {
  text-decoration: underline;
}

#freevector:hover {
  color: pink;
}
}

/* tablet *//* tablet *//* tablet *//* tablet *//* tablet */
@media (min-width: 450px) and (max-width: 655px) {
  .hero h1 {
    font-size: 3.5em;
  }

  .welcome {
    width: 90%;
  }

  .welcome p {
    width: 90%;
    font-size: 1em;
  }

  .welcome-icons #device {
    margin-top: 1em;
    font-size: 3em;
  }

  .welcome-icons #checks {
    margin-top: 5.7em;
    margin-left: -2.3em;
  }

  .welcome-icons #checks:last-child {
    margin-left: -2em;
  }

  /* projects */

  .wrapper-wrapper {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  .projects {
    width: 90%;
  }

  .projects-wrapper {
    width: 100%;
  }

  .project-wrap i {
    position: absolute;
    margin-left: 25%;
    margin-top: 25%;
    font-size: 3em;
  }

  #placeholder:last-child {
    display: none;
  }

}

@media (max-width: 610px) {
  nav {
    width: 90%;
  }
}

